# Below folder/file will be ignored for docker commands. Please add your items in albhabetical order.

.dockerignore
.git
.gitignore
.gitlab-ci2.yml
artifacts
!artifacts/nginx
dist
Dockerfile
Jenkinsfile*
node_modules
README.md
selenium-debug.log
wunderman-commerce-deploy.yml